@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: url('./assets/bg-pattern.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @apply bg-slate-100 h-screen
  }
  header {
    background-image: url('./assets/header-pattern.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
  }
}